!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = @user.username
      ha solicitado un cambio de contraseña.
    %p
      Para reiniciar su contraseña, haga click en el siguiente link:
    %a{href: @password_reset_url}
      Reiniciar contraseña
    %p
      Si usted no solicitó un cambio de contraseña por favor, haga caso omiso a este correo electrónico y su contraseña permanecerá siendo la misma.