!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = @user.username
      ha solicitado un cambio de contraseña.
    %p
      Para cambiar su contraseña, entre al siguiente link.
    %a{href: @password_reset_url}
      Reiniciar contraseña
    %p
      Si usted no solicitó este reinicio de contraseña, ignore este email por favor y su contraseña permanecerá siendo la misma.