!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica"}
    %h2
      Bienvenido a #{@site_name}, #{@user.username}
    %p
      Has sido registrado exitosamente a #{@site_name},
      tu nombre de usuario es: #{@user.username}.
      %br/
    %p
      Para iniciar sesión sólo sigue este link:
    %a{href: "http://www.tupote.com.ve/sign_in"}
      Inicia Sesión
    %p Ingresa ya y arma tus quinielas!
    %p Gracias por unirte y que tengas un gran día!