!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica"}
    %h2
      Tu quiniela #{@score_board.name} ha sido completada 
    %p
      Ahora, para que tu Quiniela comience a participar en el pote de #{@score_board.type} debes realizar tu pago realizando una transferencia o depósito a:
    %h2 Datos bancarios:
    %p Daniel Sánchez
    %p Banco de Venezuela 
    %p Cuenta corriente 
    %p 01020728230000024361
    %p V-23709747
    %br/
    %p El comprobante de tu transferencia enviarlo a: tuquiniela2014@gmail.com

    %p Cuando tu pago sea efectivo se te informará y automáticamente estarás participando en TuPote
    %p Gracias por participar. Recuerda que puedes concursar con todas las quinielas que quieras!