!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{style: "font-family: Helvetica"}
    %h2
      Tu quiniela #{@score_board.name} ya está activa 
    %p
      Gracias! Tu pago ya ha sido recibido.
      %br/
    %p Ya te encuentras concursando para TuPote #{@score_board.type}
    %p A medida que se vayan publicando los resultados oficiales tu puntuación será actualizada.  

    %p Gracias por participar. Recuerda que puedes concursar con todas las quiniela que quieras!