%h1.white-text Tu quiniela ha sido publicada. Las instrucciones para realizar el pago han sido enviadas a tu correo.
%h2 Revisa tu bandeja de correo no deseado/spam si no recibes este correo automáticamente
%h2 Al ser aprobado, aparecerás concursando en el ranking. 